#div-cabecalho{
    position: absolute;
    width: 1157px;
    height: 343px;
    left: 147px;
    top: 0px;
    background-color: coral;
}
.cards{
    width: 511.48px;
    height: 396.99px;
    filter: drop-shadow(8px 8px 8px rgba(0, 0, 0, 0.2));
    border-radius: 4px;
    position: relative;
    background-color: blue;
}
